## Input And Output Statements

In [10]:
input1 = input("Enter Your Input")
print(input1)

Ayham

## Data Types

In [11]:
## Numeric Types (Integer, Float, Complex)
x1 = 3
x2 = 3.14
x3 = 1 + 0j

print(type(x1),type(x2),type(x3),sep=" ")

<class 'int'> <class 'float'> <class 'complex'>

In [12]:
## Sequence Types (String, List, Tuple)

x1 = "ayham"
x2 = [1,2,3,'list']
x3 = (1,2,3,4,5,'Ayham')

print(type(x1),type(x2),type(x3),sep=" ")

<class 'str'> <class 'list'> <class 'tuple'>

In [13]:
## Range
for i in range(0,6):
    print(i,end=' ')

0 1 2 3 4 5

In [14]:
# Mapping Types
dict1 = {"name":"Ayham","age":18}
print(dict1.keys())
print(dict1.values())
print(type(dict1))

dict_keys(['name', 'age'])
dict_values(['Ayham', 18])
<class 'dict'>

In [15]:
# Set Types :- Set, unfrozed
x1 = {1,2,3,4,5}

print(type(x1))

<class 'set'>

## Expressions and Operators

In [16]:
a = 18
b = 2

# Arithmetic Operators
print(a + b)  # Addition: 20
print(a - b)  # Subtraction: 16
print(a * b)  # Multiplication: 36
print(a / b)  # Division: 9.0
print(a // b) # Floor Division: 9
print(a % b)  # Modulus: 0
print(a ** b) # Exponentiation: 324

# Comparison Operators
print(a == b) # Equal to: False
print(a != b) # Not equal to: True
print(a > b)  # Greater than: True
print(a < b)  # Less than: False
print(a >= b) # Greater than or equal to: True
print(a <= b) # Less than or equal to: False

# Logical Operators
print(a > 5 and b < 5)  # and: True
print(a > 5 or b < 1)   # or: True
print(not(a > 5 and b < 5)) # not: False

20
16
36
9.0
9
0
324
False
True
True
False
True
False
True
True
False

## Type Casting

In [17]:
int_from_float = int(3.14)
float_from_int = float(10)
string_from_int = str(100)
list_from_string = list("Hello")
tuple_from_list = tuple([1, 2, 3, 4, 5])
set_from_list = set([1, 2, 3, 4, 5])

print(int_from_float, type(int_from_float),sep="  ")
print(float_from_int, type(float_from_int),sep="  ")
print(string_from_int, type(string_from_int),sep="  ")
print(list_from_string, type(list_from_string),sep="  ")
print(tuple_from_list, type(tuple_from_list),sep="  ")
print(set_from_list, type(set_from_list),sep="  ")

3  <class 'int'>
10.0  <class 'float'>
100  <class 'str'>
['H', 'e', 'l', 'l', 'o']  <class 'list'>
(1, 2, 3, 4, 5)  <class 'tuple'>
{1, 2, 3, 4, 5}  <class 'set'>

## Conditional Statements

In [18]:
a = 20
b = 10

if a > b:
    print(f"{a} is greater than {b}")
elif a < b:
    print(f"{a} is less than {b}")
else:
    print(f"{a} is equal to {b}")

20 is greater than 10

## Looping Statements

In [19]:
cars = ["bmw", "benz", "porsche"]
for car in cars:
    print(car)

# While loop
count = 0
while count < 10:
    print(count)
    count += 1

bmw
benz
porsche
0
1
2
3
4
5
6
7
8
9

## Jumping Statements

In [20]:
for i in range(10):
    if i == 6:
        break
    print(i,end='')

print('')
# continue statement
for i in range(10):
    if i == 5:
        continue
    print(i,end="")

012345
012346789

## Special Functions

In [21]:
# Special Functions
cars = ["bmw", "benz", "porsche"]

# len()
print(len(cars))  # Output: 3

# id()
print(id(cars))  # Output: Unique ID of the list object

# type()
print(type(cars))  # Output: <class 'list'>

# range()
for i in range(5):
    print(i, end=" ")  # Output: 0 1 2 3 4

3
2319659584128
<class 'list'>
0 1 2 3 4